*{
    box-sizing: border-box;
}

/* Color description */
:root{
    --blue-color :
    --dark blue-color : hsl(249, 10%, 26%);
    --red-color : hsla(0, 100%, 74%);
    --white-color : white;
    --green-color : hsl(154, 59%, 51%);
    --gray-color : gray;
    --black-color : #070707;
}

body{
    margin: 0px;
    background-color: hsla(0, 100%, 74%);
    color: #fff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main
{
    display: flex;
    height: 80vh;
    width: 80vw;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid; */
    gap: 1.5em;
}

section
{
    border-radius: 3px;
    width: 50%;
}

section:nth-child(2)
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}


/*================
Style for the form
*/

form
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .9em;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 10px;
    align-items: center;
    padding: 30px 0px;
}

form:first-child(1){
    margin-top: 30px;
}

div input
{
    padding: .9em;
    border-radius: 3px;
    border: 1px solid gray;
    width: 100%;
}

div input:focus{
    border: 1px solid val(--black-color);
}

 div input[type="email"]:valid{
    border: 1px solid green;
 }

 div input[type="email"]:invalid{
    border: 1px solid red;
 }

/* input:nth-last-child(6n-4){
    background-color: var(--green-color);
    color: var(--white-color);
} */
div input[type="submit"]{
    background-color: var(--green-color);
    color: var(--white-color);
}

small{
    color: var(--gray-color);
    font-size: 1ch;
}

small a{
    text-decoration: none;
    color: var(--red-color);
}